{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <style>
            table, td, th {
              /* border: 1px solid black; */
              /* text-align: center; */
              padding: 10px;
            }  
            table {
              border-collapse: collapse;
              width: 30%;
            } 
            th {
              height: 40px;
            }
        </style>
        <body><h1>Car Details</title></h1>
            <form action="{% url 'django_application:cardetail' id %}" method="POST">
            {% csrf_token %}
            <table>    
                <tr><th>Make  :</th>    
                <td>{{ data.make }}</td></tr>

                <tr><th>Name   : </th>
                <td>{{ data.seller_name }}</td></tr>

                <tr><th>Image   : </th>
                <td><img style="width: 100px; height: 100px;"
                  src="/media/{{data.image}}"></td></tr>

                <tr><th>Model :</th>
                <td>{{ data.model }}</td></tr>

                <tr><th>Year   :</th>
                <td>{{ data.year }}</td></tr>
                
                <tr><th>Condition   : </th>
                <td>{{ data.condition}}</td></tr> 
                
                <tr><th>Price   : </th>
                <td>{{ data.asking_price}}</td></tr>    
                
                <tr><th></th>
                <td><button><a href="{% url 'django_application:buycar' id %}">BUY</a></button></td></tr>
              </table> 
            </form>  
        </body>
    </head>
{% endblock %}