<!DOCTYPE html>
<head>
    <body>
        <table border="1">
            <tr>   
            <th>Buyer Name</th>  
            <th>Buyer Number</th>   
            <th>Seller Name</th>   
            <th>Seller Mobile</th>    
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Condition</th>
            <th>Price</th>
            <th>Commission</th>
            <th>Net Amount</th>
        </tr>           
        <tr>
            <td>{{ buyer_name }}</td>  
            <td>{{ buyer_number }}</td>  
            <td>{{ seller_name }}</td>  
            <td>{{ seller_mobile }}</td> 
            <td>{{ make }}</td>    
            <td>{{ model }}</td>
            <td>{{ year }}</td>
            <td>{{ condition }}</td>
            <td>{{ asking_price }}</td>
            <td>{{ commission }}</td>
            <td>{{ net_amount }}</td>
        </tr> 
        </table><br>
    </body>
</head>