{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <body>
            <form action="{% url 'django_application:signup'%}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>Signup Form</legend>
                    {% csrf_token %}
                    <table>
                        {% for form in form %}
                        <tr><td>{{form.label_tag}}</td><td>{{ form }}</td></tr>
                        {% endfor %}
                    </table>
                    <input type="submit" value="Submit" name="save" />
                </fieldset>
            </form>
        </body>
    </head>
</html>
{% endblock %}