{% extends 'base.html' %}{% block content %}<br>
    Thank You! <br><br>
<!DOCTYPE html> 
<head>
    <body>
        <form>
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Make</th>
                    <th>Year</th>
                    <th>Condition</th>
                    <th>Price</th>   
                </tr>
                {% for x in data %}
                <tr>
                    <td>{{ x.seller_name }}</td>
                    <td>{{ x.make }}</td>
                    <td>{{ x.year }}</td>
                    <td>{{ x.condition }}</td>
                    <td>{{ x.asking_price }}</td>    
                </tr>
                {% endfor %}

            </table>
        </form>
    </body>
</head>  
{% endblock %}